@use '../../variables' as *;
@use '../../mixins' as *;
@use '../../media' as *;

.anno {
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding-block:2rem;
    padding-inline:3rem;
    border:1px solid #8B8B8B;
    border-radius:20px;
    overflow:hidden;
    
    & > .top,
    & > .top > div,
    & > .btm > ul > li > a {
        display:flex;
    }

    & > .top {
        justify-content:space-between;

        & > div {
            align-items:flex-end;

            & > h2 {
                opacity:80%;
                font-size:2rem;
            }

            & > .slashIcon,
            & > p {
                opacity:50%;
                color:$black;
            }

            & > .slashIcon {
                font-size:2.2rem;
            }

            & > p {
                font-size:1.2rem;
                font-weight:bold;
                transform:translateY(-2px);
            }
        }

        & > button {
            & > .plusIcon {
                font-size:1.5rem;
                opacity:70%;
                height:100%;
            }
        }
    }

    & > .btm {
        padding-top:1.5rem;
        border-top:1px solid #BEBEBE;

        & > ul {
            display:flex;
            flex-direction:column;
            gap:0.8rem;

            & > li {
                @include textDot(0.3rem, 0.3rem);
                position:relative;
                padding-left:1rem;
                display:flex;
                align-items:center;
                width:100%;

                &::before {
                    opacity:60%;
                }

                & > a {
                    display:flex;
                    justify-content:space-between;
                    font-size:1.4rem;
                    width:98%;
                    white-space:nowrap;
                    
                    & > span {
                        transition:color 0.2s;
                    }

                    &:hover > span {
                        &:first-child {
                            color:$dark-green;
                        }
                    }

                    & > span:first-child {
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }

                    & > span:last-child {
                        opacity:60%;
                        font-size:1.1rem;
                    }
                }
            }
        }
    }
}

@include media_max_430 {
    .anno {
        padding-inline:1.5rem;

        & > .top {
            & > div {
                & > h2 {
                    font-size:1.5rem;
                }

                & > .slashIcon {
                    font-size:1.7rem;
                }

                & > p {
                    font-size:0.9rem;
                }
            }

            & > button > .plusIcon {
                font-size:1rem;
            }
        }

        & > .btm {
            & > ul {
                & > li {
                    & > a {
                        flex-direction:column;

                        & > span {
                            &:first-child {
                                font-size:1rem;
                            }
                            
                            &:last-child {
                                font-size:0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media_max_300 {
    .anno {
        & > .top {
            & > div {
                flex-direction:column;
                align-items:baseline;

                & > .slashIcon {
                    display:none;
                }

                & > p {
                    transform:translateY(5px);
                    padding-left:0.5rem;
                }
            }
        }
    }
}