@use '../../variables' as *;
@use '../../levels' as *;
@use '../../animations' as *;
@use '../../media' as *;

.wrap {
    @include anim_up_down(bannerSlider_wrap_upDown, -100px, 1s, 0);
    position:relative;
    display:flex;
    justify-content:center;
    border-radius:20px;
    border:2px solid $light-gray2;
    box-sizing:border-box;
    height:18.5vw;
    overflow:hidden;
    transform:translateY(-60px);

    & > button {
        position:absolute;
        @include anim_visible(bannerSlider_arrowBtn_visible, 1s);
        top:40%;
        border-radius:50%;
        width:clamp(1rem, 3.7vw, 3.3rem);
        height:clamp(1rem, 3.7vw, 3.3rem);
        z-index:$index-forward1;

        &:first-child {
            left:10%;
        }

        &:nth-child(2) {
            right:10%;
        }

        & > .arrowIcon {
            width:100%;
            height:100%;
            opacity:0.6;

            &:hover {
                opacity:1;
            }
        }
    }

    & > .btns {
        @include anim_visible(bannerSlider_btns_visible, 1s);
        position:absolute;
        left:0;
        width:100%;
        display:flex;
        justify-content:center;
        bottom:0.7rem;
        z-index:$index_forward1;

        & > ul {
            display:flex;
            gap:1rem;

            & > li {
                display:flex;

                & > button > .btnIcon {
                    font-size:1rem;
                }
            }
        }
    }

    & > .imgs {
        width:100%;
        height:100%;

        & > ul {
            display:flex;
            --translateX:-100%;
            transform:translateX(var(--translateX));
            --transition:1s;
            transition: transform var(--transition);

            & > li {
                & > a {
                    & > img {
                        --width: 0;
                        width: var(--width);
                        height:100%;
                    }
                }
            }
        }
    }
}

@include media_min_2000 {
    .wrap {
        height:366px;
    }
}

@include media_max_1160 {
    .wrap {
        height:30vw;

        & > button {
            width:clamp(1rem, 4.6vw, 3.3rem);
            height:clamp(1rem, 4.6vw, 3.3rem);
        }
    }
}

@include media_max_770 {
    .wrap {
        height:40vw;

        & > button {
            width:clamp(1rem, 6.9vw, 3.3rem);
            height:clamp(1rem, 6.9vw, 3.3rem);
        }
    }
}

@include media_max_460 {
    .wrap {
        border-radius:10px;
        & > button {
            top:15vw;
            width:11vw;
        }

        & > .btns {
            bottom:1vw;
            & > ul {
                gap:3vw;

                & > li > button > .btnIcon {
                    font-size:3.5vw;
                }
            }
        }
    }
}