@use '../../variables' as *;
@use '../../levels' as *;
@use '../../animations' as *;

.wrap {
    @include anim_up_down(-60px, 1s, 0);
    position:relative;
    border-radius:20px;
    border:2px solid $light-gray2;
    box-sizing:border-box;
    overflow:hidden;
    transform:translateY(-60px);

    & > button {
        @include anim_visible(1s);
        position:absolute;
        top:40%;
        border-radius:50%;
        width:3.3rem;
        height:3.3rem;
        z-index:$index_forward1;

        &:first-child {
            left:10%;
        }

        &:nth-child(2) {
            right:10%;
        }

        & > .arrowIcon {
            width:100%;
            height:100%;
            opacity:0.6;

            &:hover {
                opacity:1;
            }
        }
    }

    & > .btns {
        @include anim_visible(1s);
        position:absolute;
        bottom:1rem;
        left:45%;
        z-index:$index_forward1;

        & > ul {
            display:flex;
            gap:1rem;

            & > li {
                display:flex;

                & > button > .btnIcon {
                    font-size:1.2rem;
                }
            }
        }
    }

    & > .imgs {
        width:100%;
        height:300px;

        & > ul {
            display:flex;
            --translateX:-100%;
            transform:translateX(var(--translateX));
            --transition:1s;
            transition: transform var(--transition);

            & > li {

                & > a {

                    & > img {
                        --width: 0;
                        width: var(--width);
                        height:300px;
                    }
                }
            }
        }
    }
}