@use '../../variables' as *;
@use '../../animations' as *;
@use '../../media' as *;

.wrap {
    @include anim_up_down(-60px, 1s, 0.3s);
    background:$light-gray;
    padding:1.8rem 2rem;
    border-radius:10px;
    border:1px solid #eeeeee;
    box-sizing:border-box;
    white-space:nowrap;

    & > div {
        display:flex;
        justify-content:space-between;

        & > div {
            flex:1;
            display:flex;
            gap:3rem;
            font-size:1.2rem;

            & > p {
                position:relative;
                opacity:60%;

                &::after {
                    content:"";
                    position:absolute;
                    top:0;
                    right:-1.5rem;
                    display:block;
                    width:1px;
                    height:1.4rem;
                    background:rgba(0, 0, 0, 10%);
                }
            }

            & > nav {
                flex:0.98;
                height:20px;
                overflow:hidden;
                
                & > ul {
                    --translateY:0;
                    transform:translateY(var(--translateY));
                    --transition:0.5s;
                    transition:transform var(--transition);

                    & > li {
                        position:relative;
                        overflow:hidden;

                        & > a {
                            display:inline-block;

                            & > p {
                                position:absolute;
                                top:0;
                                left:0;
                                width:100%;
                                overflow:hidden;
                                text-overflow:ellipsis;
                            }
                        }
                    }
                }
            }
        }

        & > a {
            font-size:1rem;
            opacity:80%;
        }
    }
}

@include media_max_460 {
    .wrap {
        overflow:hidden;
    }
}