@use '../../variables' as *;

.wrap {
    background:$light-gray;
    padding:1.8rem 2rem;
    border-radius:10px;
    border:1px solid #eeeeee;
    box-sizing:border-box;
    white-space:nowrap;

    & > div {
        display:flex;
        justify-content:space-between;

        & > div {
            display:flex;
            gap:3rem;
            width:85%;
            font-size:1.2rem;

            & > p {
                position:relative;
                opacity:60%;

                &::after {
                    content:"";
                    position:absolute;
                    top:0;
                    right:-1.5rem;
                    display:block;
                    width:1px;
                    height:1.4rem;
                    background:rgba(0, 0, 0, 10%);
                }
            }

            & > nav {
                width:max-content;
                overflow:hidden;
                
                & > ul {
                    & > li {
                        & > a {
                            & > p {
                                overflow:hidden;
                                text-overflow:ellipsis;
                            }
                        }
                    }
                }
            }
        }

        & > a {
            font-size:1rem;
        }
    }
}