@use '../../variables' as *;
@use '../../animations' as *;

.wrap {
    @include anim_up_down(-60px, 1s, 0.4s);
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    height:100%;
    background:$dark-green;
    border-radius:20px;
    padding:2rem;
    color:$white;
    border:1px solid $black;
    box-sizing:border-box;
    white-space:nowrap;

    & > div {
        display:flex;
        justify-content:space-between;
        gap:0.5rem;
        align-items:center;
        overflow:hidden;

        & > h2 {
            font-size:2rem;
        }

        & > a {
            & > img {
                width:2.5rem;
                height:2.5rem;
            }
        }
    }

    & > nav {
        overflow:hidden;

        & > ul {
            display:flex;
            flex-direction:column;
            gap:2.5rem;

            & > li {
                display:flex;
                gap:0.5rem;

                & > a {
                    overflow:hidden;

                    &:hover {
                        & > p {
                            text-decoration:underline;
                            text-underline-offset:4px;
                        }
                    }

                    & > p {
                        overflow:hidden;
                        text-overflow:ellipsis;
                        font-size:1rem;
                    }
                }
            }
        }
    }
}