/* min */
/* //min */
/* max */
/* //max */
.wrap {
  animation: anim_up_down 1s ease forwards;
  animation-delay: 0;
  opacity: 0;
  visibility: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #D5D5D5;
  box-sizing: border-box;
  height: 18.5vw;
  overflow: hidden;
  transform: translateY(-60px);
}
@keyframes anim_up_down {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > div {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
  z-index: 1;
}
.wrap > div > button {
  animation: anim_visible 1s ease forwards;
  top: 40%;
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
}
@keyframes anim_visible {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.wrap > div > button:first-child {
  left: 10%;
}
.wrap > div > button:nth-child(2) {
  right: 10%;
}
.wrap > div > button > .arrowIcon {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.wrap > div > button > .arrowIcon:hover {
  opacity: 1;
}
.wrap > .btns {
  animation: anim_visible 1s ease forwards;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0.7rem;
  z-index: 1;
}
@keyframes anim_visible {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.wrap > .btns > ul {
  display: flex;
  gap: 1rem;
}
.wrap > .btns > ul > li {
  display: flex;
}
.wrap > .btns > ul > li > button > .btnIcon {
  font-size: 1rem;
}
.wrap > .imgs {
  width: 100%;
  height: 100%;
}
.wrap > .imgs > ul {
  display: flex;
  --translateX:-100%;
  transform: translateX(var(--translateX));
  --transition:1s;
  transition: transform var(--transition);
}
.wrap > .imgs > ul > li > a > img {
  --width: 0;
  width: var(--width);
  height: 100%;
}

@media (min-width: 2000px) {
  .wrap {
    height: 366px;
  }
}
@media (max-width: 1160px) {
  .wrap {
    height: 30vw;
  }
}
@media (max-width: 770px) {
  .wrap {
    height: 40vw;
  }
}
@media (max-width: 460px) {
  .wrap {
    border-radius: 10px;
  }
  .wrap > div > button {
    top: 15vw;
    width: 11vw;
  }
  .wrap > .btns {
    bottom: 1vw;
  }
  .wrap > .btns > ul {
    gap: 3vw;
  }
  .wrap > .btns > ul > li > button > .btnIcon {
    font-size: 3.5vw;
  }
}