/* min */
/* //min */
/* max */
/* //max */
.wrap {
  animation: cafeFavored_wrap_upDown 1s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
  visibility: hidden;
  background: #F3F3F3;
  padding: 1.8rem 2rem;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  white-space: nowrap;
}
@keyframes cafeFavored_wrap_upDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > div {
  display: flex;
  justify-content: space-between;
}
.wrap > div > div {
  flex: 1;
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
}
.wrap > div > div > p {
  position: relative;
  opacity: 60%;
}
.wrap > div > div > p::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.5rem;
  display: block;
  width: 1px;
  height: 1.4rem;
  background: rgba(0, 0, 0, 0.1);
}
.wrap > div > div > nav {
  flex: 0.98;
  height: 20px;
  overflow: hidden;
}
.wrap > div > div > nav > ul {
  --translateY:0;
  transform: translateY(var(--translateY));
  --transition:0.5s;
  transition: transform var(--transition);
}
.wrap > div > div > nav > ul > li {
  position: relative;
  overflow: hidden;
}
.wrap > div > div > nav > ul > li > a {
  display: inline-block;
}
.wrap > div > div > nav > ul > li > a > p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap > div > a {
  font-size: 1rem;
  opacity: 80%;
}

@media (max-width: 460px) {
  .wrap {
    overflow: hidden;
  }
}