/* min */
/* //min */
/* max */
/* //max */
.wrap {
  padding-block: 5rem;
  display: grid;
  grid-template-columns: 24vw 1fr;
  gap: 3vw;
}
.wrap > .left {
  height: 30vw;
}
.wrap > .left > img {
  position: absolute;
  left: -100px;
  width: 35vw;
  height: 30vw;
  opacity: 0;
  visibility: visible;
}
.wrap > .left > img.active {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s, left 1s;
}
.wrap > .right > nav > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
}
.wrap > .right > nav > ul.active > li {
  --delay:0;
}
.wrap > .right > nav > ul.active > li:first-child {
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: 0;
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(2) {
  --delay: 0.1s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(3) {
  --delay: 0.2s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(4) {
  --delay: 0.3s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(5) {
  --delay: 0.4s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(6) {
  --delay: 0.5s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(7) {
  --delay: 0.6s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul.active > li:nth-child(8) {
  --delay: 0.7s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.wrap > .right > nav > ul > li {
  opacity: 0;
  visibility: hidden;
  width: 10vw;
  height: 9vw;
}
.wrap > .right > nav > ul > li > a {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.wrap > .right > nav > ul > li > a:hover {
  transform: translateY(-20px) !important;
  box-shadow: 0px 10px 10px 2px #A1A1A1;
  border-color: #00AD56;
}
.wrap > .right > nav > ul > li > a > img {
  width: 2.5vw;
  height: 2.5vw;
}
.wrap > .right > nav > ul > li > a > p {
  font-size: 1vw;
}

@media (min-width: 2000px) {
  .wrap {
    grid-template-columns: 650px 1fr;
    gap: 4rem;
  }
  .wrap > .left {
    position: relative;
    height: 580px;
  }
  .wrap > .left > img {
    width: 650px;
    height: 100%;
  }
  .wrap > .right > nav > ul > li {
    width: 170px;
    height: 170px;
  }
  .wrap > .right > nav > ul > li > a {
    gap: 2rem;
  }
  .wrap > .right > nav > ul > li > a > img {
    width: 50px;
    height: 50px;
  }
  .wrap > .right > nav > ul > li > a > p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1145px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .wrap > .left {
    height: 30vw;
  }
  .wrap > .left > img {
    position: absolute;
    width: 85.5vw;
    height: 30vw;
  }
  .wrap > .right > nav > ul {
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 1rem;
  }
  .wrap > .right > nav > ul > li {
    width: 180px;
    height: 120px;
  }
  .wrap > .right > nav > ul > li > a {
    gap: 1rem;
  }
  .wrap > .right > nav > ul > li > a > img {
    width: 50px;
    height: 50px;
  }
  .wrap > .right > nav > ul > li > a > p {
    font-size: 1rem;
  }
}
@media (max-width: 770px) {
  .wrap {
    padding-block: 0rem;
    gap: 1.2rem;
  }
  .wrap > .left {
    position: relative;
  }
  .wrap > .left > img.active {
    left: -3rem;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s, left 1s;
  }
}
@media (max-width: 460px) {
  .wrap > .left {
    height: 138px;
  }
  .wrap > .left > img {
    width: 393.3px;
    height: 100%;
  }
}