/* min */
/* //min */
/* max */
/* //max */
.wrap {
  padding-block: 5rem;
  display: grid;
  grid-template-columns: 24vw 1fr;
  gap: 3vw;
}
.wrap > .left {
  height: 30vw;
}
.wrap > .left > img {
  position: absolute;
  left: 0;
  width: 35vw;
  height: 30vw;
}
.wrap > .right > nav > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
}
.wrap > .right > nav > ul > li {
  width: 10vw;
  height: 9vw;
  border: 1px solid black;
  border-radius: 20px;
}
.wrap > .right > nav > ul > li > a {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: inherit;
}
.wrap > .right > nav > ul > li > a > img {
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}
.wrap > .right > nav > ul > li > a > p {
  font-size: 1vw;
}

@media (min-width: 2000px) {
  .wrap {
    grid-template-columns: 650px 1fr;
    gap: 4rem;
  }
  .wrap > .left {
    position: relative;
    height: 580px;
  }
  .wrap > .left > img {
    left: 0;
    width: 650px;
    height: 100%;
  }
  .wrap > .right > nav > ul > li {
    width: 170px;
    height: 170px;
  }
  .wrap > .right > nav > ul > li > a {
    gap: 2rem;
  }
  .wrap > .right > nav > ul > li > a > img {
    width: 50px;
    height: 50px;
  }
  .wrap > .right > nav > ul > li > a > p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1145px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .wrap > .left {
    height: 30vw;
  }
  .wrap > .left > img {
    position: absolute;
    left: 0;
    width: 85.5vw;
    height: 30vw;
  }
  .wrap > .right > nav > ul {
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 1rem;
  }
  .wrap > .right > nav > ul > li {
    width: 180px;
    height: 120px;
  }
  .wrap > .right > nav > ul > li > a {
    gap: 1rem;
  }
  .wrap > .right > nav > ul > li > a > img {
    width: 50px;
    height: 50px;
  }
  .wrap > .right > nav > ul > li > a > p {
    font-size: 1rem;
  }
}
@media (max-width: 770px) {
  .wrap {
    padding-block: 0rem;
    gap: 1.2rem;
  }
  .wrap > .left {
    position: relative;
    height: 231px;
  }
  .wrap > .left > img {
    left: -8rem;
    width: 658.35px;
    height: 100%;
  }
}