/* min */
/* //min */
/* max */
/* //max */
.wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.wrap > h2 {
  opacity: 0;
  visibility: hidden;
  font-size: 3rem;
}
.wrap > h2.active {
  animation: anim_up_down 1s ease forwards;
  animation-delay: 0;
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_up_down {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > h2 > span:first-child {
  color: #00CC66;
}
.wrap > .btm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.wrap > .btm > .left, .wrap > .btm > .right {
  opacity: 0;
  visibility: hidden;
}
.wrap > .btm > .left.active, .wrap > .btm > .right.active {
  animation: anim_up_down 1s ease forwards;
  animation-delay: 0;
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_up_down {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > .btm > .left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: 1px solid black;
  border-radius: 20px;
  padding-block: 2rem;
  padding-inline: 1.5rem;
}
.wrap > .btm > .left > div > div > p {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.wrap > .btm > .left > div > div > p::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 100px;
  background: black;
}
.wrap > .btm > .left > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wrap > .btm > .left > div > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wrap > .btm > .left > div > div:first-child > span {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  margin-left: 20px;
  font-size: 0.9rem;
  opacity: 0.5;
}
.wrap > .btm > .left > div > div:first-child > span::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100px;
  background: black;
}
.wrap > .btm > .left > div > div:last-child > ul:nth-child(2) {
  margin-top: 1rem;
}
.wrap > .btm > .left > div > div:last-child > ul:last-child {
  margin-top: 2rem;
}
.wrap > .btm > .left > div > div:last-child > ul > li {
  margin-top: 0.5rem;
}
.wrap > .btm > .left > div > div:last-child > ul > li > p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
  margin-left: 0.8rem;
  opacity: 0.9;
}
.wrap > .btm > .left > div > div:last-child > ul > li > p::before {
  content: "- ";
}
.wrap > .btm > .left > div > div:last-child > ul > li > ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.3rem;
}
.wrap > .btm > .left > div > div:last-child > ul > li > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0.5;
  font-size: 0.9rem;
  margin-left: 1.2rem;
  padding-left: 0.5rem;
}
.wrap > .btm > .left > div > div:last-child > ul > li > ul > li::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100px;
  background: black;
}
.wrap > .btm > .left > p {
  padding-left: 0.5rem;
  font-weight: bold;
}
.wrap > .btm > .left > p > span:last-child {
  color: red;
}
.wrap > .btm > .right {
  flex: 1;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  height: 630px;
  min-width: 800px;
}
.wrap > .btm > .right > div:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrap > .btm > .right > div:first-child > div {
  width: 380px;
  height: 570px;
}
.wrap > .btm > .right > div:first-child > div > img {
  --cursor:"default";
  cursor: var(--cursor);
}
.wrap > .btm > .right > div:last-child {
  flex: 1;
  height: 100%;
  border-left: 1px solid black;
}
.wrap > .btm > .right > div:last-child > nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  height: 100%;
  width: 98%;
  padding-block: 1.5rem;
  box-sizing: border-box;
}
.wrap > .btm > .right > div:last-child > nav::-webkit-scrollbar {
  width: 7px;
}
.wrap > .btm > .right > div:last-child > nav::-webkit-scrollbar-thumb {
  height: 30%;
  background: #A1A1A1;
  border-radius: 10px;
}
.wrap > .btm > .right > div:last-child > nav::-webkit-scrollbar-track {
  background: none;
}
.wrap > .btm > .right > div:last-child > nav > ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  gap: 0.5rem;
  margin-inline: auto;
  padding: 0.5rem;
  box-sizing: border-box;
}
.wrap > .btm > .right > div:last-child > nav > ul::after {
  content: "";
  position: absolute;
  bottom: -13px;
  display: block;
  width: 98%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}
.wrap > .btm > .right > div:last-child > nav > ul:last-child::after {
  display: none;
}
.wrap > .btm > .right > div:last-child > nav > ul > li:first-child {
  flex: 1;
}
.wrap > .btm > .right > div:last-child > nav > ul > li:first-child > button {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding-block: 0.5rem;
}
.wrap > .btm > .right > div:last-child > nav > ul > li:last-child {
  flex: 0.1;
  display: flex;
  gap: 1rem;
}
.wrap > .btm > .right > div:last-child > nav > ul > li:last-child > a {
  font-size: 1.3rem;
}

@media (max-width: 1398px) {
  .wrap > .btm > .left {
    width: 100%;
  }
  .wrap > .btm > .left > div > div:last-child > ul > li > ul {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0.7rem;
  }
}
@media (max-width: 1110px) {
  .wrap > .btm > .right {
    flex-direction: column;
    min-width: auto;
    height: 900px;
  }
  .wrap > .btm > .right > div:first-child {
    flex: none;
    height: 600px;
  }
  .wrap > .btm > .right > div:last-child {
    height: 300px;
    overflow: hidden;
    border-left: none;
    border-top: 1px solid black;
  }
}
@media (max-width: 430px) {
  .wrap > h2 {
    font-size: max(1.5rem, 10vw);
  }
  .wrap > .btm > .left {
    padding-inline: 1rem;
    word-break: keep-all;
  }
  .wrap > .btm > .right > div:first-child {
    display: none;
  }
  .wrap > .btm > .right > div:last-child {
    border-top: none;
  }
  .wrap > .btm > .right > div:last-child > nav > ul {
    align-items: baseline;
    flex-direction: column;
  }
  .wrap > .btm > .right > div:last-child > nav > ul > li:first-child > button {
    word-break: keep-all;
  }
}