.section {
  padding-top: 150px;
}
.section > div > div {
  display: grid;
  grid-template-columns: 58% 1fr;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section > div > div > .left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section > div > div > .right {
  overflow: hidden;
}