/* min */
/* //min */
/* max */
/* //max */
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.wrap > .sticky {
  animation: search_sticky_upDown 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -10vw;
  width: 10%;
  height: 100%;
}
@keyframes search_sticky_upDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > .sticky > div {
  position: sticky;
  top: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: clamp(0.3rem, 0.8vw, 1rem);
  background: #F3F3F3;
  border: 1px solid black;
  border-radius: 10px;
}
.wrap > .sticky > div > p, .wrap > .sticky > div > ul > li > span {
  font-size: clamp(0.4rem, 0.7vw, 0.9rem);
}
.wrap > .sticky > div > p {
  white-space: pre;
  text-align: center;
}
.wrap > .sticky > div > ul {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1vw, 1rem);
}
.wrap > .sticky > div > ul > li {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.wrap > .sticky > div > ul > li:first-child > p {
  color: red;
}
.wrap > .sticky > div > ul > li:first-child > span {
  color: black;
}
.wrap > .sticky > div > ul > li > p {
  font-size: clamp(0.8rem, 1vw, 1rem);
}
.wrap > .sticky > div > ul > li > span {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap > .search {
  animation: search_search_upDown 1s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
  visibility: hidden;
  background: #00CC66;
  padding-block: 2rem;
  border: 1px solid black;
  border-radius: 40px;
  color: white;
  white-space: nowrap;
}
@keyframes search_search_upDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > .search > h2 {
  text-align: center;
  font-size: 2rem;
}
.wrap > .search > div {
  width: 80%;
  margin: 0 auto;
}
.wrap > .search > div > .top {
  display: flex;
  padding-block: 3rem;
  gap: 50px;
}
.wrap > .search > div > .top > .left, .wrap > .search > div > .top > .right {
  display: flex;
  flex-direction: column;
}
.wrap > .search > div > .top > .left > div > div > p, .wrap > .search > div > .top > .left > div > label, .wrap > .search > div > .top > .right > div > p {
  font-size: 1.8rem;
  cursor: default;
}
.wrap > .search > div > .top > .left {
  flex: 1;
  gap: 7rem;
}
.wrap > .search > div > .top > .left > div {
  display: flex;
}
.wrap > .search > div > .top > .left > div:first-child > div {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.wrap > .search > div > .top > .left > div:first-child > div:first-child > article {
  width: 150px;
}
.wrap > .search > div > .top > .left > div:first-child > div:first-child > article > nav {
  border-radius: 25px;
}
.wrap > .search > div > .top > .left > div:first-child > div:last-child > article {
  width: 200px;
}
.wrap > .search > div > .top > .left > div:first-child > div:last-child > article > nav {
  border-radius: 30px;
}
.wrap > .search > div > .top > .left > div:first-child > div > article {
  position: relative;
  max-width: 200px;
  height: 2rem;
  border-bottom: 1px solid white;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > button > span {
  width: 90%;
  font-size: 1.2rem;
  color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > button > .downArrow {
  font-size: 1.5rem;
  color: white;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav {
  position: absolute;
  top: 2rem;
  padding: 1rem;
  background: rgb(233, 233, 233);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, top 0.3s, visibility 0s 0.3s;
  z-index: 1;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav.active {
  opacity: 1;
  visibility: visible;
  top: 3rem;
  transition: opacity 0.3s, top 0.3s, visibility 0s 0s;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul {
  color: black;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul > li:first-child > p {
  margin-top: 0;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul > li > p {
  cursor: default;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul > li > button {
  margin-bottom: 0.5rem;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul > li > button:hover {
  font-weight: 700;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul::-webkit-scrollbar {
  width: 7px;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul::-webkit-scrollbar-thumb {
  height: 30%;
  background: #A1A1A1;
  border-radius: 10px;
}
.wrap > .search > div > .top > .left > div:first-child > div > article > nav > ul::-webkit-scrollbar-track {
  background: none;
}
.wrap > .search > div > .top > .left > div:last-child {
  gap: 1.5rem;
}
.wrap > .search > div > .top > .left > div:last-child > input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: #F3F3F3;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}
.wrap > .search > div > .top > .right {
  flex: 0.8;
  gap: 3rem;
}
.wrap > .search > div > .top > .right > div {
  display: flex;
  gap: 3rem;
}
.wrap > .search > div > .top > .right > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.wrap > .search > div > .top > .right > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrap > .search > div > .top > .right > div:nth-child(2) > div > ul > li > button, .wrap > .search > div > .top > .right > div:nth-child(2) > div > div > button {
  display: flex;
  gap: 0.5rem;
  font-family: "MaplestoryOTFLight", sans-serif;
  font-size: 1.2rem;
}
.wrap > .search > div > .top > .right > div:nth-child(2) > div > ul > li > button.active, .wrap > .search > div > .top > .right > div:nth-child(2) > div > div > button.active {
  color: white;
}
.wrap > .search > div > .top > .right > div:nth-child(2) > div > ul > li > button.inActive, .wrap > .search > div > .top > .right > div:nth-child(2) > div > div > button.inActive {
  color: #D5D5D5;
}
.wrap > .search > div > .top > .right > div:nth-child(2) > div > ul {
  display: flex;
  gap: 4rem;
}
.wrap > .search > div > .top > .right > div:nth-child(2) > div > div {
  align-items: center;
}
.wrap > .search > div > .top > .right > div > ul {
  display: flex;
  gap: 4rem;
  align-items: flex-end;
}
.wrap > .search > div > .top > .right > div > ul > li > button {
  display: flex;
  gap: 0.5rem;
  font-family: "MaplestoryOTFLight", sans-serif;
  font-size: 1.2rem;
}
.wrap > .search > div > .top > .right > div > ul > li > button.active {
  color: white;
}
.wrap > .search > div > .top > .right > div > ul > li > button.inActive {
  color: #D5D5D5;
}
.wrap > .search > div > .btm > button {
  width: 100%;
  height: 3.5rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  background: white;
}
.wrap > .search > div > .btm > button.active {
  color: black;
  cursor: pointer;
}
.wrap > .search > div > .btm > button.inActive {
  color: #D5D5D5;
  cursor: default;
}
.wrap > .imgs > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  justify-items: center;
  row-gap: 3rem;
}
.wrap > .imgs > ul > li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s;
}
.wrap > .imgs > ul > li.active:nth-child(3n+1) {
  animation: search_imgs_upDown 0.4s ease forwards;
  animation-delay: 0;
  opacity: 0;
  visibility: hidden;
}
@keyframes search_imgs_upDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > .imgs > ul > li.active:nth-child(3n+2) {
  animation: search_imgs_upDown2 0.4s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
  visibility: hidden;
}
@keyframes search_imgs_upDown2 {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > .imgs > ul > li.active:nth-child(3n) {
  animation: search_imgs_upDown3 0.4s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
  visibility: hidden;
}
@keyframes search_imgs_upDown3 {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.wrap > .imgs > ul > li:hover {
  transform: translateY(-7px);
}
.wrap > .imgs > ul > li:hover > article:first-child > img {
  scale: 1.05;
}
.wrap > .imgs > ul > li:nth-child(n+7) {
  display: none;
}
.wrap > .imgs > ul > li.visible {
  display: flex;
}
.wrap > .imgs > ul > li > article:first-child {
  height: 180px;
  overflow: hidden;
}
.wrap > .imgs > ul > li > article:first-child > img {
  transition: scale 0.2s;
}
.wrap > .imgs > ul > li > article:last-child {
  padding-block: 1rem;
}
.wrap > .imgs > ul > li > article:last-child > p {
  white-space: nowrap;
  padding-inline: 1rem;
  color: #00AD56;
}
.wrap > .imgs > ul > li > article:last-child > p:first-child {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 0.5rem;
}
.wrap > .imgs > ul > li > article:last-child > p:not(:first-child) {
  white-space: nowrap;
  display: flex;
  gap: 1rem;
  padding-block: 0.5rem;
}
.wrap > .imgs > ul > li > article:last-child > p > span {
  color: #A1A1A1;
}
.wrap > .more {
  position: relative;
  margin-inline: auto;
  width: 20%;
  height: 70px;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrap > .more:hover > span:not(:last-child) {
  transition: transform 0.1s;
}
.wrap > .more:hover > span:first-child {
  transform: scaleX(1);
}
.wrap > .more:hover > span:nth-child(2) {
  transform: scaleY(1);
  transition-delay: 0.1s;
}
.wrap > .more:hover > span:nth-child(3) {
  transform: scaleX(1);
  transition-delay: 0.2s;
}
.wrap > .more:hover > span:nth-child(4) {
  transform: scaleY(1);
  transition-delay: 0.3s;
}
.wrap > .more > span:not(:last-child) {
  position: absolute;
  display: block;
  background: #00AD56;
  transition: transform 0.1s;
}
.wrap > .more > span:first-child {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition-delay: 0.3s;
}
.wrap > .more > span:nth-child(2) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition-delay: 0.2s;
}
.wrap > .more > span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0.1s;
}
.wrap > .more > span:nth-child(4) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
}
.wrap > .more > span:last-child {
  font-size: 1rem;
}

@media (min-width: 2000px) {
  .wrap > .sticky {
    right: -13rem;
  }
}
@media (max-width: 1870px) {
  .wrap > .search > div {
    width: 70%;
  }
  .wrap > .search > div > .top {
    flex-direction: column;
  }
  .wrap > .search > div > .top > .left {
    gap: 3rem;
  }
}
@media (max-width: 1670px) {
  .wrap > .imgs > ul > li.active:nth-child(odd) {
    animation: search_search_upDown 0.4s ease forwards;
    animation-delay: 0s;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes search_search_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .wrap > .imgs > ul > li.active:nth-child(even) {
    animation: search_imgs_upDown2 0.4s ease forwards;
    animation-delay: 0.1s;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes search_imgs_upDown2 {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
@media (max-width: 1170px) {
  .wrap > .sticky {
    display: none;
  }
  .wrap > .search > div > .top > .left > div:first-child {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 1160px) {
  .wrap > .imgs > ul > li {
    width: 100%;
  }
  .wrap > .imgs > ul > li.active {
    animation: search_search_upDown 0.4s ease forwards;
    animation-delay: 0;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes search_search_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .wrap > .imgs > ul > li > article:first-child > img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 930px) {
  .wrap > .search > div > .top > .right > div:not(:first-child) {
    flex-direction: column;
    gap: 1rem;
  }
  .wrap > .search > div > .top > .right > div:nth-child(2) {
    align-items: unset;
  }
  .wrap > .more {
    font-size: 1rem;
    height: 50px;
  }
  .wrap .more {
    width: 25%;
  }
  .wrap .more > span:last-child {
    font-size: 0.8rem;
  }
}
@media (max-width: 510px) {
  .wrap > .search > div > .top > .left > div:last-child > input {
    width: 100px;
  }
  .wrap > .search > div > .top > .right > div:first-child > ul {
    gap: 2rem;
  }
  .wrap > .imgs > ul {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 460px) {
  .wrap > .search > div > .top > .left > div > div > p, .wrap > .search > div > .top > .left > div > label, .wrap > .search > div > .top > .right > div > p {
    font-size: max(1rem, 5vw);
  }
}
@media (max-width: 430px) {
  .wrap > .search {
    border-radius: 9.5vw;
    white-space: unset;
  }
  .wrap > .search > div > .top > .left > div {
    flex-direction: column;
  }
  .wrap > .search > div > .top > .left > div:first-child > div:first-child > article, .wrap > .search > div > .top > .left > div:first-child > div:last-child > article {
    width: 100%;
  }
  .wrap > .search > div > .top > .left > div:first-child > div {
    flex-direction: column;
  }
  .wrap > .search > div > .top > .left > div:first-child > div > article {
    max-width: none;
  }
  .wrap > .search > div > .top > .left > div:first-child > div > p {
    text-align: center;
  }
  .wrap > .search > div > .top > .left > div:last-child > label {
    text-align: center;
  }
  .wrap > .search > div > .top > .left > div:last-child > input {
    width: 100%;
  }
  .wrap > .search > div > .top > .right > div {
    text-align: center;
  }
  .wrap > .search > div > .top > .right > div > ul, .wrap > .search > div > .top > .right > div:nth-child(2) > div > ul {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrap > .search > div > .top > .right > div:nth-child(2) > div > ul, .wrap > .search > div > .top > .right > div:last-child > ul {
    gap: 0;
  }
  .wrap > .search > div > .top > .right > div:first-child {
    flex-direction: column;
    gap: 1rem;
  }
  .wrap > .search > div > .top > .right > div:first-child > ul {
    gap: 0.5rem;
  }
  .wrap > .search > div > .top > .right > div:nth-child(2) > div > div > button {
    margin-inline: auto;
    word-break: keep-all;
    font-size: 1rem;
  }
  .wrap > .search > div > .top > .right > div:nth-child(2) > div > div > button > .circleCheckBoxIcon {
    display: none;
  }
  .wrap > .search > div > .btm > button {
    border-radius: 6vw;
  }
  .wrap > .imgs > ul > li {
    overflow: visible;
  }
  .wrap > .imgs > ul > li > article:first-child {
    height: 100%;
  }
  .wrap > .imgs > ul > li > article:last-child > p {
    white-space: unset;
  }
  .wrap > .imgs > ul > li > article:last-child > p:not(:first-child) {
    flex-direction: column;
    gap: 0;
  }
  .wrap > .imgs > ul > li > article:last-child > p:not(:first-child) > span {
    text-wrap: wrap;
    word-break: keep-all;
  }
  .wrap > .more {
    width: 95.75px;
    height: 50px;
  }
}