/* min */
/* //min */
/* max */
/* //max */
.section > div > div {
  padding-bottom: 0;
}
.section > div > div > .wrap {
  display: grid;
  grid-template-columns: 27vw 1fr;
  align-items: end;
  height: 500px;
}
.section > div > div > .wrap > img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.section > div > div > .wrap > img:nth-child(2) {
  transform: translateY(-11rem);
}
.section > div > div > .wrap > .left, .section > div > div > .wrap > .right {
  display: flex;
  align-items: center;
  height: 400px;
}
.section > div > div > .wrap > .left.active > img {
  animation: vaccin_img_xMove 0.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_img_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .left > img {
  opacity: 0;
  visibility: hidden;
}
.section > div > div > .wrap > .right {
  width: 100%;
}
.section > div > div > .wrap > .right > ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
.section > div > div > .wrap > .right > ul > li {
  opacity: 0;
  visibility: hidden;
  --delay:0;
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(6) {
  --delay: 0.1s;
  animation: vaccin_element2_xMove 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_element2_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(5) {
  --delay: 0.2s;
  animation: vaccin_element3_xMove 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_element3_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(4) {
  --delay: 0.3s;
  animation: vaccin_element4_xMove 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_element4_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(3) {
  --delay: 0.4s;
  animation: vaccin_element5_xMove 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_element5_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(2) {
  --delay: 0.5s;
  animation: vaccin_element6_xMove 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_element6_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(1) {
  --delay: 0.6s;
  animation: vaccin_element7_xMove 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes vaccin_element7_xMove {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 6.6vw;
}
.section > div > div > .wrap > .right > ul > li > a:hover > div {
  transform: translateY(-20px) !important;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.2);
  border-color: #00AD56;
}
.section > div > div > .wrap > .right > ul > li > a > div {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding-inline: 1.7vw;
  padding-block: 1.2vw;
  background: rgba(255, 255, 255, 0.9);
  transition: transform 0.3s, box-shadow 0.3s;
}
.section > div > div > .wrap > .right > ul > li > a > div > img {
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}
.section > div > div > .wrap > .right > ul > li > a > p {
  word-break: keep-all;
  bottom: -10px;
  text-align: center;
  font-size: 0.9vw;
}

@media (min-width: 2000px) {
  .section > div > div > .wrap {
    position: relative;
    grid-template-columns: 25rem 1fr;
  }
  .section > div > div > .wrap > img:first-child {
    width: 1500px;
  }
  .section > div > div > .wrap > .left {
    transform: translateX(6rem) !important;
  }
  .section > div > div > .wrap > .left > img {
    width: 300px;
    height: 100px;
  }
  .section > div > div > .wrap > .right > ul > li > a {
    width: 7.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div {
    padding-inline: 2rem;
    padding-block: 1.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div > img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1600px) {
  .section {
    margin-top: 100px;
    background: rgba(0, 173, 86, 0.7);
  }
  .section > div > div {
    padding-bottom: 3rem;
  }
  .section > div > div > .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: auto;
  }
  .section > div > div > .wrap > img:first-child {
    display: none;
  }
  .section > div > div > .wrap > img:nth-child(2) {
    transform: translateY(5rem);
  }
  .section > div > div > .wrap > .left {
    height: auto;
  }
  .section > div > div > .wrap > .left.active > img {
    animation: vaccin_img_upDown 1.5s ease forwards;
    animation-delay: 0;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_img_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 2rem;
  }
  .section > div > div > .wrap > .right > ul > li {
    --delay:0;
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(1) {
    --delay:0s;
    animation: vaccin_element1_upDown 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_element1_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(2) {
    --delay:0.1s;
    animation: vaccin_element2_upDown 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_element2_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(3) {
    --delay:0.2s;
    animation: vaccin_element3_upDown 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_element3_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(4) {
    --delay:0.3s;
    animation: vaccin_element4_upDown 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_element4_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(5) {
    --delay:0.4s;
    animation: vaccin_element5_upDown 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_element5_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(6) {
    --delay:0.5s;
    animation: vaccin_element6_upDown 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes vaccin_element6_upDown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li > a {
    width: 11.1rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div {
    padding-inline: 3rem;
    padding-block: 1.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div > img {
    width: 5rem;
    height: 5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > p {
    font-size: 1.3rem;
  }
}
@media (max-width: 1145px) {
  .section > div > div > .wrap > img:nth-child(2) {
    width: 175px;
    height: 140px;
  }
}
@media (max-width: 860px) {
  .section > div > div > .wrap > .right {
    height: 100%;
  }
  .section > div > div > .wrap > .right > ul {
    justify-items: center;
  }
}
@media (max-width: 620px) {
  .section > div > div > .wrap > img:nth-child(2) {
    width: 25vw;
    height: 20vw;
    transform: translateY(15vw);
  }
  .section > div > div > .wrap > .left > img {
    width: 70vw;
    height: 23vw;
  }
  .section > div > div > .wrap > .right > ul {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
  .section > div > div > .wrap > .right > ul > li > a {
    width: 90%;
  }
  .section > div > div > .wrap > .right > ul > li > a > div {
    padding-inline: 2rem;
    padding-block: 1rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div > img {
    width: 58px;
    height: 58px;
  }
  .section > div > div > .wrap > .right > ul > li > a > p {
    font-size: 0.8rem;
  }
}
@media (max-width: 460px) {
  .section > div > div > .wrap {
    position: relative;
  }
}
@media (max-width: 165px) {
  .section {
    width: 165px;
  }
  .section > div > div > .wrap > .left > img {
    width: 115.5px;
    height: 37.9px;
  }
}