/* min */
/* //min */
/* max */
/* //max */
.section > div > div {
  padding-bottom: 0;
}
.section > div > div > .wrap {
  display: grid;
  grid-template-columns: 27vw 1fr;
  align-items: end;
  height: 500px;
}
.section > div > div > .wrap > img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.section > div > div > .wrap > img:nth-child(2) {
  transform: translateY(-11rem);
}
.section > div > div > .wrap > .left, .section > div > div > .wrap > .right {
  display: flex;
  align-items: center;
  height: 400px;
}
.section > div > div > .wrap > .left.active > img {
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .left > img {
  opacity: 0;
  visibility: hidden;
}
.section > div > div > .wrap > .right {
  width: 100%;
}
.section > div > div > .wrap > .right > ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
.section > div > div > .wrap > .right > ul > li {
  opacity: 0;
  visibility: hidden;
  --delay:0;
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(6) {
  --delay: 0.1s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(5) {
  --delay: 0.2s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(4) {
  --delay: 0.3s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(3) {
  --delay: 0.4s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(2) {
  --delay: 0.5s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li.active:nth-child(1) {
  --delay: 0.6s;
  animation: anim_x_move 0.8s ease forwards;
  animation-delay: var(--delay);
  opacity: 0;
  visibility: hidden;
}
@keyframes anim_x_move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.section > div > div > .wrap > .right > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: -moz-max-content;
  width: max-content;
}
.section > div > div > .wrap > .right > ul > li > a:hover > div {
  transform: translateY(-20px) !important;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.2);
  border-color: black;
}
.section > div > div > .wrap > .right > ul > li > a > div {
  border: 1px solid black;
  border-radius: 20px;
  padding-inline: 1.7vw;
  padding-block: 1.2vw;
  transition: transform 0.3s, box-shadow 0.3s;
}
.section > div > div > .wrap > .right > ul > li > a > div > img {
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}
.section > div > div > .wrap > .right > ul > li > a > p {
  white-space: nowrap;
  font-size: 0.9vw;
}

@media (min-width: 2000px) {
  .section > div > div > .wrap {
    position: relative;
    grid-template-columns: 25rem 1fr;
  }
  .section > div > div > .wrap > img:first-child {
    width: 1500px;
  }
  .section > div > div > .wrap > .left {
    transform: translateX(6rem) !important;
  }
  .section > div > div > .wrap > .left > img {
    width: 300px;
    height: 100px;
  }
  .section > div > div > .wrap > .right > ul > li > a > div {
    padding-inline: 2rem;
    padding-block: 1.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div > img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1600px) {
  .section {
    margin-top: 100px;
    background: rgba(0, 173, 86, 0.7);
  }
  .section > div > div {
    padding-bottom: 5rem;
  }
  .section > div > div > .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
  }
  .section > div > div > .wrap > img:first-child {
    display: none;
  }
  .section > div > div > .wrap > img:nth-child(2) {
    transform: translateY(5rem);
  }
  .section > div > div > .wrap > .left.active > img {
    animation: anim_up_down 1s ease forwards;
    animation-delay: 0;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .left > img {
    opacity: 0;
    visibility: hidden;
  }
  .section > div > div > .wrap > .right > ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 2rem;
  }
  .section > div > div > .wrap > .right > ul > li {
    --delay:0;
  }
  .section > div > div > .wrap > .right > ul > li.active:first-child {
    animation: anim_up_down 0.5s ease forwards;
    animation-delay: 0;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(2) {
    --delay:0.1s;
    animation: anim_up_down 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(3) {
    --delay:0.2s;
    animation: anim_up_down 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(4) {
    --delay:0.3s;
    animation: anim_up_down 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(5) {
    --delay:0.4s;
    animation: anim_up_down 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li.active:nth-child(6) {
    --delay:0.5s;
    animation: anim_up_down 0.5s ease forwards;
    animation-delay: var(--delay);
    opacity: 0;
    visibility: hidden;
  }
  @keyframes anim_up_down {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .section > div > div > .wrap > .right > ul > li > a > div {
    padding-inline: 3rem;
    padding-block: 1.5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > div > img {
    width: 5rem;
    height: 5rem;
  }
  .section > div > div > .wrap > .right > ul > li > a > p {
    font-size: 1.3rem;
  }
}
@media (max-width: 1145px) {
  .section > div > div > .wrap > img:nth-child(2) {
    scale: 0.7;
  }
}
@media (max-width: 860px) {
  .section > div > div > .wrap {
    height: 800px;
    gap: 2rem;
  }
  .section > div > div > .wrap > .left {
    height: 150px;
  }
  .section > div > div > .wrap > .right {
    height: 100%;
  }
  .section > div > div > .wrap > .right > ul {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 620px) {
  .section > div > div > .wrap > .left > img {
    scale: 0.8;
  }
}
@media (max-width: 460px) {
  .section {
    width: 460px;
  }
  .section > div > div > .wrap {
    position: relative;
  }
}