@mixin anim_up_down($name, $translateY, $duration, $delay) {
    @keyframes #{$name} {
        from {
            opacity:0;
            visibility:hidden;
            transform:translateY($translateY);
        } to {
            opacity:1;
            visibility:visible;
            transform:translateY(0);
        }
    }

    animation:$name $duration ease forwards;
    animation-delay:$delay;
    opacity:0;
    visibility:hidden;
}

@mixin anim_x_move($name, $translateX, $duration, $delay) {
    @keyframes #{$name} {
        from {
            opacity:0;
            visibility:hidden;
            transform:translateX($translateX);
        }
        to {
            opacity:1;
            visibility:visible;
            transform:translateX(0);
        }
    }

    animation:$name $duration ease forwards;
    animation-delay:$delay;
    opacity:0;
    visibility:hidden;
}

@mixin anim_visible($name, $duration) {
    @keyframes #{$name} {
        from {
            opacity:0;
            visibility:hidden;
        } to {
            opacity:1;
            visibility:visible;
        }
    }

    animation:$name $duration ease forwards;
}