@use 'variables' as *;

@mixin textDot($width, $height, $margin-right) {
    &::before {
        content:"";
        display:inline-block;
        width:$width;
        height:$height;
        border-radius:50%;
        background:$black;
        margin-right:$margin-right;
    }
}

@mixin transparent {
    opacity:0;
    visibility:hidden;
}

@mixin iconHover($translateY, $shadowColor, $borderColor) {
    transform:translateY($translateY) !important;
    box-shadow:0px 10px 10px 2px $shadowColor;
    border-color: $borderColor;
}