@use 'variables' as *;

@mixin textDot($width, $height) {
    &::before {
        position:absolute;
        left:0;
        content:"";
        display:inline-block;
        width:$width;
        height:$height;
        border-radius:100px;
        background:$black;
    }
}

@mixin transparent {
    opacity:0;
    visibility:hidden;
}

@mixin iconHover($translateY, $shadowColor, $borderColor) {
    transform:translateY($translateY) !important;
    box-shadow:0px 10px 10px 2px $shadowColor;
    border-color: $borderColor;
}