@use '../../variables' as *;
@use '../../media' as *;

.footer {
    background:#EEEEEE;

    & > div {
        height:150px;

        & > div {
            display:flex;
            justify-content:space-between;
            padding-block:1.3rem;
            height:100%;
    
            & > .left,
            & > .right {
                display:flex;
                flex-direction:column;
                justify-content:space-between;
            }
    
            & > .left > .btm > ul,
            & > .right > .top {
                display:flex;
            }
    
            & > .left {
                & > .top {

                    & > h2 {
                        font-size:1.7rem;
                    }

                    & > p {
                        font-size:1rem;
                        line-height:1.5;
                    }
                }

                & > .btm {
                    & > ul {
                        gap:1rem;

                        & > li {
                            font-size:0.8rem;

                            &:nth-child(odd) > a {
                                opacity:70%;
                            }

                            &:nth-child(2) > a {
                                font-weight:bold;
                            }
                        }
                    }
                }
            }
    
            & > .right {
                & > .top {
                    margin-left:auto;
                    display:flex;
                    align-items:center;
                    gap:1rem;
                    transition:color 0.2s;

                    &:hover {
                        color:$dark-green;
                    }
                    
                    & > p {
                        font-size:1.2rem;
                    }

                    & > .arrowUpIcon {
                        font-size:2rem;
                    }
                }

                & > .btm > span {
                    font-size:0.8rem;
                    opacity:80%;
                }
            }
        }
    }
}

@include media_max_770 {
    .footer > div > div {
        & > .left {
            & > .top {
                & > h2 { 
                    font-size:1.3rem;
                }

                & > p {
                    font-size:0.8rem;
                }
            }

            & > .btm {
                & > ul {
                    & > li {
                        font-size:0.6rem;
                    }
                }
            }
        }

        & > .right {
            & > .top {
                gap:1rem;

                &:hover {
                    color:$dark-green;
                }
                
                & > p {
                    font-size:0.9rem;
                }

                & > .arrowUpIcon {
                    font-size:1.7rem;
                }
            }

            & > .btm > span {
                font-size:0.7rem;
            }
        }
    }
}

@include media_max_620 {
    .footer > div > div {
        flex-direction:column;

        & > .left {
            gap:1.2rem;
        }

        & > .right {
            flex-direction:row-reverse;
        }
    }
}

@include media_max_460 {
    .footer {
        width:460px;
    }
}