@use '../../variables' as *;

.header {
    position:fixed;
    width:100vw;
    height:150px;
    border-bottom:1px solid $light-green;
    box-sizing:border-box;
    overflow:hidden;

    & > div {
        display:flex;
        flex-direction:column;
        gap:2rem;
        height:100%;
        padding-top:0.5rem;

        & > .top {
            display:flex;
            justify-content:space-between;

            & > .search {
                position:relative;
                display:flex;
                align-items:center;

                & > label,
                & > input,
                & > button {
                    height: 3.3rem;
                }

                & > label {
                    width:39.3rem;
                    background:$white;
                    border-radius:50px;
                    border:1px solid $black;
                }
                
                & > input {
                    position:absolute;
                    width:35.5rem;
                    background:none;
                    border-top-left-radius:50px;
                    border-bottom-left-radius:50px;
                    box-sizing:border-box;
                    border:none;
                    outline:none;
                    padding-left:2rem;
                    font-size:1.3rem;
                    line-height:5;
                }

                & > button {
                    position:absolute;
                    right:0;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    width:3.8rem;
                    border-top-right-radius:30px;
                    border-bottom-right-radius:30px;
                    background:none;
                    border:none;

                    &:hover {
                        cursor:pointer;
                    }
                }
            }

            & > .login {
                display:flex;
                justify-content:right;
                align-items:center;
                gap:2rem;
                white-space:nowrap;
            }
        }

        & > .btm {
            & > ul {
                display:flex;
                justify-content:center;
                gap:5rem;
                transform:translateX(-1.5rem);

                & > li {
                    font-size:1.3rem;
                    white-space:nowrap;

                    & > a:hover {
                        font-weight:bold;
                    }
                }
            }
        }
    }
}