@use '../../variables' as *;
@use '../../media' as *;
@use '../../animations' as *;
@use '../../mixins' as *;


.wrap {
    padding-block:5rem;
    display:grid;
    grid-template-columns:24vw 1fr;
    gap:3vw;

    & > .left {
        height:30vw;

        & > img {
            position:absolute;
            left:-100px;
            width:35vw;
            height:30vw;
            opacity:0;
            visibility:visible;

            &.active {
                left:0;
                opacity:1;
                visibility:visible;
                transition:opacity 1s, visibility 1s, left 1s;
            }
        }
    }

    & > .right {
        & > nav > ul {
            display:grid;
            grid-template-columns:repeat(4, 1fr);
            row-gap:4rem;

            &.active {
                & > li {
                    --delay:0;

                    @for $i from 2 through 8 {
                        &:nth-child(#{$i}) {
                            --delay: #{($i - 1) * 0.1}s;

                            @include anim_x_move(-60px, 0.8s, var(--delay));
                        }
                    }

                    @include anim_x_move(-60px, 0.8s, var(--delay));
                }
            }

            & > li {
                @include transparent;
                width:10vw;
                height:9vw;
                border:1px solid $black;
                border-radius:20px;

                & > a {
                    display:flex;
                    flex-direction:column;
                    gap:2vw;
                    justify-content:center;
                    align-items:center;
                    height:100%;
                    border-radius:inherit;

                    & > img {
                        width:3vw;
                        height:3vw;
                        border-radius:10px;
                    }

                    & > p {
                        font-size:1vw;
                    }
                }
            }
        }
    }
}


@include media_min_2000 {
    .wrap {
        grid-template-columns: 650px 1fr;
        gap:4rem;

        & > .left {
            position:relative;
            height:580px;
            
            & > img {
                width:650px;
                height:100%;
            }
        }

        & > .right > nav > ul > li {
            width:170px;
            height:170px;

            & > a {
                gap:2rem;
                & > img {
                    width:50px;
                    height:50px;
                }
                
                & > p {
                    font-size:1.2rem;
                }
            }
        }
    }
}

@include media_max_1145 {
    .wrap {
        display:flex;
        flex-direction:column;

        & > .left {
            height:30vw;
    
            & > img {
                position:absolute;
                width:85.5vw;
                height:30vw;
            }
        }

        & > .right {
            & > nav > ul {
                justify-items:center;
                grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
                row-gap:1rem;

                & > li {
                    width:180px;
                    height:120px;

                    & > a {
                        gap:1rem;

                        & > img {
                            width:50px;
                            height:50px;
                        }

                        & > p {
                            font-size:1rem;
                        }
                    }
                }
            }
        }
    }
}

@include media_max_770 {
    .wrap {
        padding-block:0rem;
        gap:1.2rem;
        
        & > .left {
            position:relative;
            height:231px;

            & > img {
                left:-11rem;
                width:658.34px;
                height:100%;

                &.active {
                    left:-8rem;
                    opacity:1;
                    visibility:visible;
                    transition:opacity 1s, visibility 1s, left 1s;
                }
            }
        }
    }
}