@use '../../variables' as *;
@use '../../mixins' as *;
@use '../../animations' as *;
@use '../../media' as *;

.wrap {
    display:flex;
    flex-direction:column;
    gap:3rem;

    & > h2 {
        @include transparent;
        font-size:3rem;

        &.active {
            @include anim_up_down(healthCheckup_title_upDown, -60px, 1s, 0);
        }

        & > span {
            &:first-child {
                color:$light-green;
            }
        }
    }

    & > .btm {
        display:flex;
        flex-wrap:wrap;
        gap:20px;

        & > .left,
        & > .right {
            @include transparent;

            &.active {
                @include anim_up_down(healthCheckup_btm_upDown, -40px, 1s, 0);
            }
        }

        & > .left {
            display:flex;
            flex-direction:column;
            gap:4rem;
            border:1px solid $black;
            border-radius:20px;
            padding-block:2rem;
            padding-inline:1.5rem;

            & > div > div > p {
                @include textDot(0.35rem, 0.35rem);
                position:relative;
                display:flex;
                align-items:center;
                font-weight:bold;
                font-size:1.2rem;
                padding-left:1rem;
            }
            
            & > div {
                display:flex;
                flex-direction:column;
                gap:2rem;

                & > div:first-child {
                    display:flex;
                    flex-direction:column;
                    gap:0.5rem;

                    & > span {
                        position:relative;
                        @include textDot(0.25rem, 0.25rem);
                        display:flex;
                        align-items:center;
                        padding-left:0.5rem;
                        margin-left:20px;
                        font-size:0.9rem;
                        opacity:0.5;
                    }
                }

                & > div:last-child {
                    & > ul {
                        &:nth-child(2) {
                            margin-top:1rem;
                        }

                        &:last-child {
                            margin-top:2rem;
                        }

                        & > li {
                            margin-top:0.5rem;

                            & > p {
                                display:flex;
                                align-items:center;
                                gap:0.3rem;
                                font-size:0.9rem;
                                margin-left:0.8rem;
                                opacity:0.9;

                                &::before {
                                    content:"- ";
                                }
                            }

                            & > ul {
                                display:flex;
                                flex-direction:column;
                                gap:0.2rem;
                                margin-top:0.3rem;

                                & > li {
                                    @include textDot(0.25rem, 0.25rem);
                                    position:relative;
                                    display:flex;
                                    align-items:center;
                                    opacity:0.5;
                                    font-size:0.9rem;
                                    margin-left:1.2rem;
                                    padding-left:0.5rem;
                                }
                            }
                        }
                    }
                }
            }

            & > p {
                padding-left:0.5rem;
                font-weight:bold;

                & > span:last-child {
                    color:red;
                }
            }
        }

        & > .right {
            flex:1;
            display:flex;
            border:1px solid $black;
            border-radius:20px;
            height:630px;
            min-width:800px;

            & > div:first-child {
                flex:1;
                display:flex;
                justify-content:center;
                align-items:center;
                height:100%;

                & > div {
                    width:380px;
                    height:570px;

                    & > img {
                        --cursor:"default";
                        cursor:var(--cursor);
                    }
                }
            }

            & > div:last-child {
                flex:1;
                height:100%;
                border-left:1px solid $black;

                & > nav {
                    display:flex;
                    flex-direction:column;
                    gap:1.5rem;
                    overflow-y:auto;
                    height:100%;
                    width:98%;
                    padding-block:1.5rem;
                    box-sizing:border-box;

                    &::-webkit-scrollbar {
                        width:7px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        height:30%;
                        background:$gray;
                        border-radius:10px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        background: none;
                    }

                    & > ul {
                        position:relative;
                        display:flex;
                        justify-content:space-between;
                        align-items:flex-end;
                        width:90%;
                        gap:0.5rem;
                        margin-inline:auto;
                        padding:0.5rem;
                        box-sizing:border-box;

                        &::after {
                            content:"";
                            position:absolute;
                            bottom:-13px;
                            display:block;
                            width:98%;
                            height:2px;
                            background:rgba(0, 0, 0, 0.1);
                        }

                        &:last-child::after {
                            display:none;
                        }

                        & > li {
                            &:first-child {
                                flex:1;

                                & > button {
                                    width:100%;
                                    text-align:left;
                                    font-size:1rem;
                                    padding-block:0.5rem;
                                }
                            }
                            
                            &:last-child {
                                flex:0.1;
                                display:flex;
                                gap:1rem;

                                & > a {
                                    font-size:1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media_max_1398 {
    .wrap > .btm > .left {
        width:100%;

        & > div > div:last-child {
            & > ul > li > ul {
                flex-wrap:wrap;
                flex-direction:row;
                row-gap:0.7rem;
            }
        }
    }
}

@include media_max_1110 {
    .wrap > .btm > .right {
        flex-direction:column;
        min-width:auto;
        height:900px;

        & > div:first-child {
            flex:none;
            height:600px;
        }

        & > div:last-child {
            height:300px;
            overflow:hidden;
            border-left:none;
            border-top:1px solid $black;
        }
    }
}

@include media_max_430 {
    .wrap {
        & > h2 {
            font-size:max(1.5rem, 10vw);
        }

        & > .btm {
            & > .left {
                padding-inline:1rem;
                word-break:keep-all;
            }

            & > .right {
                & > div {
                    &:first-child {
                        display:none;
                    }

                    &:last-child {
                        border-top:none;

                        & > nav > ul {
                            align-items:baseline;
                            flex-direction:column;
                            & > li:first-child > button {
                                word-break:keep-all;
                            }
                        }
                    }
                }
            }
        }
    }
}