@use '../../variables' as *;
@use '../../mixins' as *;
@use '../../animations' as *;

.wrap {
    display:flex;
    flex-direction:column;
    gap:3rem;

    & > h2 {
        @include transparent;
        font-size:3rem;

        &.active {
            @include anim_up_down(-60px, 1s, 0);
        }

        & > span {
            &:first-child {
                color:$light-green;
            }
        }
    }

    & > .btm {
        display:flex;
        flex-wrap:wrap;
        gap:20px;

        & > .left,
        & > .right {
            @include transparent;

            &.active {
                @include anim_up_down(-40px, 1s, 0);
            }
        }

        & > .left {
            display:flex;
            flex-direction:column;
            gap:4rem;
            border:1px solid $black;
            border-radius:20px;
            padding-block:2rem;
            padding-inline:1.5rem;

            & > div > div > p {
                @include textDot(0.3rem, 0.3rem, 0.5rem);
                font-weight:bold;
                font-size:1.2rem;
            }
            
            & > div {
                display:flex;
                flex-direction:column;
                gap:2rem;

                & > div:first-child {
                    display:flex;
                    flex-direction:column;
                    gap:0.5rem;

                    & > span {
                        @include textDot(0.25rem, 0.25rem, 0.5rem);
                        display:block;
                        text-indent:20px;
                        font-size:0.9rem;
                        opacity:0.5;
                    }
                }

                & > div:last-child {
                    & > ul {
                        &:nth-child(2) {
                            margin-top:1rem;
                        }

                        &:last-child {
                            margin-top:2rem;
                        }

                        & > li {
                            margin-top:0.5rem;

                            & > p {
                                font-size:0.9rem;
                                text-indent:0.8rem;
                                opacity:0.9;

                                &::before {
                                    content:"- ";
                                }
                            }

                            & > ul {
                                display:flex;
                                flex-direction:column;
                                gap:0.2rem;
                                margin-top:0.3rem;

                                & > li {
                                    @include textDot(0.25rem, 0.25rem, 0.5rem);
                                    opacity:0.5;
                                    text-indent:1.2rem;
                                    font-size:0.9rem;
                                }
                            }
                        }
                    }
                }
            }

            & > p {
                text-indent:0.5rem;
                font-weight:bold;

                & > span:last-child {
                    color:red;
                }
            }
        }

        & > .right {
            flex:1;
            display:flex;
            flex-wrap:wrap;
            border:1px solid $black;
            border-radius:20px;
            height:630px;

            & > div:first-child {
                flex:1;
                display:flex;
                justify-content:center;
                align-items:center;
                height:100%;

                & > div {
                    width:380px;
                    height:570px;

                    & > img {
                        --cursor:"default";
                        cursor:var(--cursor);
                    }
                }
            }

            & > div:last-child {
                flex:1;
                height:100%;
                border-left:1px solid $black;

                & > nav {
                    display:flex;
                    flex-direction:column;
                    gap:1.5rem;
                    overflow-y:auto;
                    height:100%;
                    width:98%;
                    padding-block:1.5rem;

                    &::-webkit-scrollbar {
                        width:7px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        height:30%;
                        background:$gray;
                        border-radius:10px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        background: none;
                    }

                    & > ul {
                        position:relative;
                        display:flex;
                        justify-content:space-between;
                        align-items:flex-end;
                        width:90%;
                        gap:0.5rem;
                        margin-inline:auto;
                        padding:0.5rem;

                        &::after {
                            content:"";
                            position:absolute;
                            bottom:-13px;
                            display:block;
                            width:98%;
                            height:2px;
                            background:rgba(0, 0, 0, 0.1);
                        }

                        &:last-child::after {
                            display:none;
                        }

                        & > li {
                            &:first-child {
                                flex:1;

                                & > button {
                                    width:100%;
                                    text-align:left;
                                    font-size:1rem;
                                    padding-block:0.5rem;
                                }
                            }
                            
                            &:last-child {
                                flex:0.1;
                                display:flex;
                                gap:1rem;

                                & > a {
                                    font-size:1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}