@use '../../media' as *;

.section {
    padding-top:150px;

    & > div > div {
        display:grid;
        grid-template-columns:58% 1fr;
        gap:2rem;
        border-bottom:1px solid rgba(0, 0, 0, 10%);

        & > .left {
            display:flex;
            flex-direction:column;
            gap:1.5rem;
        }

        & > .right {
            overflow:hidden;
        }
    }
}

@include media_max_1160 {
    .section > div > div {
        display:flex;
        flex-direction:column;
    }
}

