@use '../../variables' as *;
@use '../../media' as *;
@use '../../animations' as *;
@use '../../levels' as *;

.wrap {
    position:relative;
    display:flex;
    flex-direction:column;
    gap:3rem;

    & > .sticky {
        @include anim_up_down(search_sticky_upDown, -60px, 1s, 0.8s);
        position:absolute;
        right:-10vw;
        width:10%;
        height:100%;

        & > div {
            position:sticky;
            top:200px;
            display:flex;
            flex-direction:column;
            gap:1rem;
            justify-content:space-between;
            width:100%;
            padding:clamp(0.3rem, 0.8vw, 1rem);
            background:$light-gray;
            border:1px solid $black;
            border-radius:10px;

            & > p,
            & > ul > li > span {
                font-size:clamp(0.4rem, 0.7vw, 0.9rem);
            }

            & > p {
                white-space:pre;
                text-align:center;
            }
            
            & > ul {
                display:flex;
                flex-direction:column;
                gap:clamp(0.9rem, 1vw, 1rem);

                & > li {
                    display:flex;
                    flex-direction:column;
                    font-weight:bold;

                    &:first-child {
                        & > p {
                            color:red;
                        }

                        & > span {
                            color:$black;
                        }
                    }

                    & > p {
                        font-size:clamp(0.8rem, 1vw, 1rem);
                    }

                    & > span {
                        font-weight:lighter;
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
    }

    & > .search {
        @include anim_up_down(search_search_upDown, -60px, 1s, 0.6s);
        background:$light-green;
        padding-block:2rem;
        border:1px solid $black;
        border-radius:40px;
        color: $white;
        white-space:nowrap;
    
        & > h2 {
            text-align:center;
            font-size:2rem;
        }
       
        & > div {
            width:80%;
            margin:0 auto;

            & > .top {
                display:flex;
                padding-block:3rem;
                gap:50px;
        
                & > .left,
                & > .right {
                    display:flex;
                    flex-direction:column;
                }
        
                & > .left > div > div > p,
                & > .left > div > label,
                & > .right > div > p {
                    font-size:1.8rem;
                    cursor:default;
                }
        
                & > .left {
                    flex:1;
                    gap:7rem;
        
                    & > div {
                        display:flex;
                        
                        &:first-child {
                            & > div {
                                display:flex;
                                width:100%;
                                gap:1rem;
        
                                &:first-child > article {
                                    width:150px;
        
                                    & > nav {border-radius:25px;}
                                }
        
                                &:last-child > article {
                                    width:200px;
        
                                    & > nav {border-radius:30px;}
                                }
        
                                & > article {
                                    position:relative;
                                    max-width:200px;
                                    height:2rem;
                                    border-bottom:1px solid $white;
        
                                    & > button {
                                        display:flex;
                                        align-items:center;
                                        width:100%;
                                        height:100%;
        
                                        & > span {
                                            width:90%;
                                            font-size:1.2rem;
                                            color:$light-gray2;
                                            font-weight:bold;
                                            text-align:center;
                                            overflow:hidden;
                                            text-overflow:ellipsis;
                                        }
        
                                        & > .downArrow {                
                                            font-size:1.5rem;
                                            color:$white;
                                        }
                                    }
        
                                    & > nav {
                                        position:absolute;
                                        top:2rem;
                                        padding:1rem;
                                        background:rgb(233, 233, 233);
                                        width:100%;
                                        opacity:0;
                                        visibility:hidden;
                                        transition: opacity 0.3s, top 0.3s, visibility 0s 0.3s;
                                        z-index:$index-forward1;

                                        &.active {
                                            opacity:1;
                                            visibility:visible;
                                            top:3rem;
                                            transition: opacity 0.3s, top 0.3s, visibility 0s 0s;
                                        }
        
                                        & > ul {
                                            color:$black;
                                            height:200px;
                                            overflow-y:auto;
                                            overflow-x:hidden;
        
                                            & > li {
                                                &:first-child > p {
                                                    margin-top:0;
                                                }
        
                                                & > p {
                                                    cursor:default;
                                                    margin-bottom:0.5rem;
                                                    margin-top:1rem;
                                                    font-weight:bold;
                                                }
        
                                                & > button {
                                                    margin-bottom:0.5rem;
        
                                                    &:hover {
                                                        font-weight:700;
                                                    }
                                                }
                                            }
                                        }
        
                                        & > ul::-webkit-scrollbar {
                                            width:7px;
                                        }
                                        
                                        & > ul::-webkit-scrollbar-thumb {
                                            height:30%;
                                            background:$gray;
                                            border-radius:10px;
                                        }
                                        
                                        & > ul::-webkit-scrollbar-track {
                                            background: none;
                                        }
                                        
                                    }
                                }
                            }
                        }
        
                        &:last-child {
                            gap:1.5rem;
        
                            & > input {
                                flex:1;
                                background:none;
                                border:none;
                                outline:none;
                                color:$light-gray;
                                border-bottom:1px solid $white;
                                font-size:1.2rem;
                            }
                        }
                    }
                }
        
                & > .right {
                    flex:0.8;
                    gap:3rem;
        
                    & > div {
                        display:flex;
                        gap:3rem;
        
                        &:nth-child(2) {
                            display:flex;
                            align-items:center;
        
                            & > div {
                                display:flex;
                                flex-direction:column;
                                gap:1rem;
        
                                & > ul > li > button,
                                & > div > button {
                                    display:flex;
                                    gap:0.5rem;
                                    font-family: 'MaplestoryOTFLight', sans-serif;
                                    font-size:1.2rem;
        
                                    &.active {color:$white;}
                                    &.inActive {color:$light-gray2;}
                                }
        
                                & > ul {
                                    display:flex;
                                    gap:4rem;
                                }
        
                                & > div {
                                    align-items:center;
                                }
                            }
                        }
        
                        & > ul {
                            display:flex;
                            gap:4rem;
                            align-items:flex-end;
        
                            & > li {           
                                & > button {
                                    display:flex;
                                    gap:0.5rem;
                                    font-family: 'MaplestoryOTFLight', sans-serif;
                                    font-size:1.2rem;
        
                                    &.active {color:$white;}
                                    &.inActive {color:$light-gray2;}
                                }
                            }
                        }
                    }
                }
            }
        
            & > .btm {
                & > button {
                    width:100%;
                    height:3.5rem;
                    border-radius:50px;
                    font-size:1.2rem;
                    font-weight:700;
                    background:$white;
    
                    &.active {
                        color:$black;
                        cursor:pointer;
                    }
    
                    &.inActive {
                        color:$light-gray2;
                        cursor:default;
                    }
                }
            } 
        }    
    }

    & > .imgs {
        & > ul {
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(420px, 1fr));
            justify-items:center;
            row-gap:3rem;

            & > li {
                display:flex;
                flex-direction:column;
                gap:0.3rem;
                box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.1);
                width:400px;
                border-radius:10px;
                overflow:hidden;
                opacity:0;
                visibility:hidden;
                transition:transform 0.2s;

                &.active {
                    &:nth-child(3n + 1) {
                        @include anim_up_down(search_imgs_upDown, -60px, 0.4s, 0);
                    }

                    &:nth-child(3n + 2) {
                        @include anim_up_down(search_imgs_upDown2, -60px, 0.4s, 0.1s);
                    }

                    &:nth-child(3n) {
                        @include anim_up_down(search_imgs_upDown3, -60px, 0.4s, 0.2s);
                    }
                }

                &:hover {
                    transform:translateY(-7px);

                    & > article:first-child > img {
                        scale:1.05;
                    }
                }

                &:nth-child(n + 7) {
                    display:none;
                }

                &.visible {
                    display:flex;
                }

                & > article:first-child {
                    height:180px;
                    overflow:hidden;

                    & > img {
                        transition:scale 0.2s;
                    }
                }

                & > article:last-child {
                    padding-block:1rem;

                    & > p {
                        white-space:nowrap;
                        padding-inline:1rem;
                        color:$dark-green;
    
                        &:first-child {
                            font-size:1.3rem;
                            font-weight:bold;
                            color:rgba(0, 0, 0, 80%);
                            padding-bottom:0.5rem;
                        }

                        &:not(:first-child) {
                            white-space:nowrap;
                            display:flex;
                            gap:1rem;
                            padding-block:0.5rem;
                        }
                        
                        & > span {
                            color:$gray;
                        }
                    }
                }
            }
        }
    }

    & > .more {
        position:relative;
        margin-inline:auto;
        width:20%;
        height:70px;
        font-size:1.5rem;
        box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.1);

        &:hover {
            & > span { 
                &:not(:last-child) {
                    transition:transform 0.1s;
                }     

                &:first-child {
                    transform:scaleX(1);
                }

                &:nth-child(2) {
                    transform:scaleY(1);
                    transition-delay:0.1s;
                }

                &:nth-child(3) {
                    transform:scaleX(1);
                    transition-delay:0.2s;
                }

                &:nth-child(4) {
                    transform:scaleY(1);
                    transition-delay:0.3s;
                }
            }
        }

        & > span {
            &:not(:last-child) {
                position:absolute;
                display:block;
                background:$dark-green;
                transition: transform 0.1s;
            }

            &:first-child {
                top:0;
                left:0;
                width:100%;
                height:2px;
                transform:scaleX(0);
                transform-origin:right;
                transition-delay:0.3s;
            }

            &:nth-child(2) {
                top:0;
                left:0;
                width:2px;
                height:100%;
                transform:scaleY(0);
                transform-origin:top;
                transition-delay:0.2s;
            }

            &:nth-child(3) {
                bottom:0;
                left:0;
                width:100%;
                height:2px;
                transform:scaleX(0);
                transform-origin:left;
                transition-delay:0.1s;
            }

            &:nth-child(4) {
                top:0;
                right:0;
                width:2px;
                height:100%;
                transform:scaleY(0);
                transform-origin:bottom;
            }

            &:last-child {
                font-size:1rem;
            }
        }
    }
}

@include media_min_2000 {
    .wrap > .sticky {
        right:-13rem;
    }
}

@include media_max_1870 {
    .wrap {
        & > .search {
            & > div {
                width:70%;

                & > .top {
                    flex-direction:column;
        
                    & > .left {
                        gap:3rem;
                    }
                }
            }
        }
    }
}


@include media_max_1670 {
    .wrap > .imgs > ul > li.active {
        &:nth-child(odd) {
            @include anim_up_down(search_search_upDown, -60px, 0.4s, 0s);
        }

        &:nth-child(even) {
            @include anim_up_down(search_imgs_upDown2, -60px, 0.4s, 0.1s);
        }
    }
}


@include media_max_1170 {
    .wrap {
        & > .sticky {
            display:none;
        }
        
        & > .search > div > .top > .left {
            & > div:first-child {
                flex-direction:column;
                gap:3rem;    
            }
        }
    }
}

@include media_max_1160 {
    .wrap > .imgs > ul {
        & > li {
            width:100%;

            &.active {
                @include anim_up_down(search_search_upDown, -60px, 0.4s, 0);
            }

            & > article:first-child {
                & > img {
                    width:100%;
                    height:auto;
                }
            } 
        }
    }
}

@include media_max_930 {
    .wrap {
        & > .search > div > .top > .right > div {
            &:not(:first-child) {
                flex-direction:column;
                gap:1rem;
            }

            &:nth-child(2) {
                align-items:unset;
            }
        }

        & > .more {
            font-size:1rem;
            height:50px;
        }

        .more {
            width:25%;
            
            & > span:last-child {
                font-size:0.8rem;
            }
        }
    }
}

@include media_max_510 {
    .wrap {
        & > .search > div > .top {
            & > .left > div:last-child > input {
                width:100px;
                
            }

            & > .right > div:first-child > ul {
                gap:2rem;
            }
        }

        & > .imgs {
            & > ul {
                grid-template-columns:1fr;
            }
        }
    }
}

@include media_max_460 {
    .wrap > .search {
        & > div {
            & > .top {
                & > .left > div > div > p,
                & > .left > div > label,
                & > .right > div > p {
                    font-size:max(1rem, 5vw);
                }
            }
        }
    }
}

@include media_max_430 {
    .wrap {
        & > .search {
            border-radius:9.5vw;
            white-space:unset;
    
            & > div {
                & > .top {
                    & > .left {
                        & > div {
                            flex-direction:column;
    
                            &:first-child {
                                & > div:first-child > article,
                                & > div:last-child > article {
                                    width:100%;
                                }
    
                                & > div {
                                    flex-direction:column;
    
                                    & > article {
                                        max-width:none;
                                    }
    
                                    & > p {
                                        text-align:center;
                                    }
                                }
                            }
    
                            &:last-child {
                                & > label {
                                    text-align:center;
                                }
    
                                & > input {
                                    width:100%;
                                }
                            }
                        }
                    }
    
                    & > .right {
                        & > div {
                            text-align:center;
    
                            & > ul,
                            &:nth-child(2) > div > ul {
                                justify-content:space-between;
                                flex-wrap:wrap;
                            }
    
                            &:nth-child(2) > div > ul,
                            &:last-child > ul {
                                gap:0;
                            }
    
                            &:first-child {
                                flex-direction:column;
                                gap:1rem;
    
                                & > ul {
                                    gap:0.5rem;
                                }
                            }
    
                            &:nth-child(2) > div > div > button {
                                margin-inline:auto;
                                word-break:keep-all;
                                font-size:1rem;
    
                                & > .circleCheckBoxIcon {
                                    display:none;
                                }
                            }
                        }
                    }
                }
    
                & > .btm > button {
                    border-radius:6vw;
                }
            }
        }

        & > .imgs {
            & > ul {
                & > li {
                    overflow:visible;
                    & > article {
                        &:first-child {
                            height:100%;
                        }

                        &:last-child {
                            & > p {
                                white-space:unset;

                                &:not(:first-child) {
                                    flex-direction:column;
                                    gap:0;
                                    
                                    & > span {
                                        text-wrap:wrap;
                                        word-break:keep-all;           
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        & > .more {
            width:95.75px;
            height:50px;
        }
    }
}