@use '../../media' as *;
@use '../../levels' as *;
@use '../../variables' as *;
@use '../../animations' as *;
@use '../../mixins' as *;

.section {
    & > div > div {
        padding-bottom:0;

        & > .wrap {
            display:grid;
            grid-template-columns:27vw 1fr;
            align-items:end;
            height:500px;
            
            & > img {
                position:absolute;
                right:0;
                z-index:$index-back1;
            }

            & > img:nth-child(2) {
                transform:translateY(-11rem);
            }

            & > .left,
            & > .right {
                display:flex;
                align-items:center;
                height:400px;
            }

            & > .left {
                &.active {
                    & > img {
                        @include anim_x_move(50px, 0.8s, 0.8s);
                    }
                }

                & > img {
                    @include transparent;
                }
            }

            & > .right {
                width:100%;
                
                & > ul {
                    display:grid;
                    grid-template-columns:repeat(6, 1fr);
                    width:100%;

                    & > li {
                        @include transparent;
                        --delay:0;

                        &.active {
                            @for $i from 2 through 7 {
                                $rev: 8 - $i;

                                &:nth-child(#{$rev}) {
                                    --delay: #{($i - 1) * 0.1}s;

                                    @include anim_x_move(50px, 0.8s, var(--delay));
                                }
                            }
                        }

                        & > a {
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            gap:1.5rem;
                            width:max-content;

                            &:hover > div {
                                @include iconHover(-20px, rgba(0, 0, 0, 0.2), $black);
                            }

                            & > div {
                                border-radius:20px;
                                padding-inline:1.7vw;
                                padding-block:1.2vw;
                                background:rgba(255, 255, 255, 0.9);
                                transition: transform 0.3s, box-shadow 0.3s;

                                & > img {
                                    width:3vw;
                                    height:3vw;
                                    border-radius:10px;
                                }
                            }

                            & > p {
                                word-break:keep-all;
                                text-align:center;
                                width:6.4vw;
                                font-size:0.9vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media_min_2000 {
    .section > div > div > .wrap {
        position:relative;
        grid-template-columns:25rem 1fr;

        & > img:first-child {
            width:1500px;
        }

        & > .left {
            transform:translateX(6rem) !important;

            & > img {
                width:300px;
                height:100px;
            }
        }

        & > .right > ul > li > a {
            & > div {
                padding-inline:2rem;
                padding-block:1.5rem;

                & > img {
                    width:3.5rem;
                    height:3.5rem;
                }
            }

            & > p {
                font-size:1.1rem;
            }
        }
    }
}

@include media_max_1600 {
    .section {
        margin-top:100px;
        background:rgba(0, 173, 86, 70%);

        & > div {
            & > div {
                padding-bottom:5rem;

                & > .wrap {
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    height:650px;

                    & > img:first-child {
                        display:none;
                    }
    
                    & > img:nth-child(2) {
                        transform:translateY(5rem);
                    }

                    & > .left {
                        &.active {
                            & > img {
                                @include anim_up_down(-60px, 1.5s, 0);
                            }
                        }
                    }
    
                    & > .right {
                        & > ul {
                            grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
                            row-gap:2rem;
    
                            & > li {
                                --delay:0;

                                &.active {
                                    &:first-child {
                                        @include anim_up_down(-50px, 0.5s, 0);
                                    }

                                    @for $i from 2 through 6 {
                                        &:nth-child(#{$i}) {
                                            --delay:#{($i - 1) * 0.1}s;
                                            @include anim_up_down(-50px, 0.5s, var(--delay));
                                        }
                                    }
                                }

                                & > a {
                                    & > div {
                                        padding-inline:3rem;
                                        padding-block:1.5rem;
    
                                        & > img {
                                            width:5rem;
                                            height:5rem;
                                        }
                                    }
    
                                    & > p {
                                        font-size:1.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media_max_1145 {
    .section > div > div > .wrap > img:nth-child(2) {
        scale:0.7;
    }
}

@include media_max_860 {
    .section {
        & > div > div {
            & > .wrap {
                height:800px;
                gap:2rem;
                
                & > .left {
                    height:150px;
                }
    
                & > .right {
                    height:100%;

                    & > ul {
                        grid-template-columns:1fr 1fr;
                        justify-items:center;
                    }
                }
            }
        }
    }
}

@include media_max_620 {
    .section > div > div > .wrap > .left > img {
        scale:0.8;
    }
}

@include media_max_460 {
    .section {
        width:460px;

        & > div > div > .wrap {
            position:relative;
        }
    }
}