@use '../../variables' as *;
@use '../../media' as *;

.search {
    position:relative;
    display:flex;
    align-items:center;

    & > label,
    & > input,
    & > button {
        height:3.3rem;
    }

    & > label {
        width:39.3rem;
        background:$white;
        border-radius:50px;
        border:1px solid $black;
    }
    
    & > input {
        position:absolute;
        width:35.5rem;
        background:none;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
        box-sizing:border-box;
        border:none;
        outline:none;
        padding-left:2rem;
        font-size:1.3rem;
        line-height:5;
    }

    & > button {
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
        width:3.8rem;
        border-top-right-radius:30px;
        border-bottom-right-radius:30px;
    }
}

@include media_max_770 {
    .search {
        & > input {
            width:15.5rem;
        }

        & > button {
            width:3.2rem;
        }
    }
}

@include media_max_430 {
    .search {
        & > label,
        & > input,
        & > button {
            height:max(2rem, 12vw);
        }

        & > input {
            width:83%;
            font-size:max(0.5rem, 4.5vw);
            padding-left:6.5vw;
        }

        & > button {
            width:17%;

            & > img {
                width:max(1rem, 9vw);
            }
        }
    }
}
